<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>New Transaction</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>

<link href="/css/starter-template.css" rel="stylesheet"/>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Materials Management System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="'/item'">Items</a></li>
            <li><a href="#" th:href="'/borrower'">Borrowers</a></li>
            <li><a href="#" th:href="'/transaction'">Transaction</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
      
      <h2>New Transaction</h2>
      
      </div>
      
       <form class="form-horizontal" th:object="${transaction}" th:action="@{/transaction/save}"  method="post">
            
            <div class="form-group">
              <label for="inputItemDesc" class="col-sm-2 control-label">Item </label>
              	<div class="col-sm-10">
                <input type="text" th:field="*{item.itemDesc}" class="form-control" id="inputItemDesc" placeholder="Stock Id"  readonly="true"/>
                  <a th:href="'/item/select'">Select</a>
                </div>
            </div>
            <div class="form-group">
              <label for="inputBorrower" class="col-sm-2 control-label">Borrower</label>
              <div class="col-sm-10"> 
                <input type="text" th:field="*{borrower.name}"  class="form-control" id="inputBorrower" placeholder="Borrower" readonly="true"/>
                <a th:href="'/borrower/select'">Select</a>
                </div>
            </div>
             <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" class="btn btn-default">Save</button>
            </div>
             </div>
              
          </form>
      
     
      

    </div><!-- /.container -->

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>